<div id="container" class="container columns full screen">
    <h2>{{catagory.name}}</h2>

    {{#each products as {{product}}
    <div class="card">
        <div class="card-header">
            <h4><a href="product/{{this.id}}">{{this.name}}</a></h4>
        </div>
        <p id="product-desc">
            {{this.desc}}
        </p>

    </div>
</div>