<div class="row justify-content-center item-choice">
    <nav class="navbar" id="navbar">
        <span class="navbar-brand mb-0 h1 w-100 text-center" id="navbar-text">{{category.name}}</span>
    </nav>
    {{#each category.products as |product|}}
    <div class="card" style="width: 15rem;">
        <img src="/images/{{this.image}}" alt="{{this.name}}">
        <h4><a href="product/{{this.id}}">{{this.name}}</a></h4>
        <div id="product" data-id="{{this.id}}"></div>
        <div class="card-body">
            {{!-- <button id="{{this.id}}">+</button> --}}
            {{!-- q --}}

            <input id="quantity-val{{this.id}}" data-id="{{this.id}}" name="quantity-val" type="number"
                pattern="/^-?\d+\.?\d*$/" onkeypress="if(this.value.length ===3) return false;" />
            {{!-- <button data-id="{{this.id}}">-</button> --}}
            <button class="{{this.id}}">Add to list</button>
        </div>
    </div>
    {{/each}}

</div>